// @file
// Button helpers

@mixin button($bg-color: $button-bg-color, $text-color: $button-text-color, $font-size: $font-size-sm, $font-family: $button-font-family) {
  background-color: $bg-color;
  border: 2px solid $button-text-color;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 700;
  line-height: $base-line-height;
  margin: 0 0 1em;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: baseline;

  &:focus,
  &:hover {
    background-color: $button-bg-hover-color;
    color: $button-text-color;
    outline: 0;
  }

  &:active {
    background-color: $button-bg-hover-color;
  }
}

%button {
  @include button();

  & + & {
    margin-left: 1em; // LTR

    [dir="rtl"] & {
    margin-left: 0;
    margin-right: 1em;
    }
  }
}

%button--large {
  @include button();
  font-size: $font-size-lg;
}

%button--login {
  @include button();
  @include svg-background(icon-user);
  background-position: left 8px center;
  background-repeat: no-repeat;
  border-color: $purple--dark;
  color: $purple--dark;
  padding-left: 2.5em;

  &:before {
    @extend %divider-line;
    border-left: 1px solid $button-divider-line--purple;
    padding-right: .75em;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: #e8e7f0;
    color: $purple--dark;
    text-decoration: none;
  }
}

%button--my-favorites {
  @include button();
  font-family: $base-font-family;
  text-transform: none;
  vertical-align: middle;

  a,
  .nav__link {
    display: inline-block;
    font-size: $base-font-size;
    line-height: 1.75;
    padding-left: 3.5em;
    position: relative;

    &:hover, &:focus {
      background-color: $green-forest;
      border: 1px solid $green-teal;
    }

    &:before {
      @include svg-background(icon-heart-check--white);
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: 18px;
      width: 23px;
      position: absolute;
      left: 1em;
      top: 10px;
    }
  }

  &.active a,
  &.active .nav__link {
    background-color: $green-forest;
    border: 1px solid $green-teal;
  }
}

%button--purchase {
  @include button();
  @include svg-background(icon-data);
  background-position: left 8px center;
  background-repeat: no-repeat;
  padding-left: 2.75em;

  &:before {
    @extend %divider-line;
    border-left: 1px solid $button-divider-line--green;
    padding-right: .75em;
  }
}

%button--read-now {
  @include button();
  @include svg-background(icon-arrow);
  background-position: right 8px center;
  background-repeat: no-repeat;
  padding-right: 2.5em;

  &:after {
    @extend %divider-line;
    border-left: 1px solid $button-divider-line--green;
    margin-left: .75em;
  }
}

%button--reset {
  @include button();
  background-color: $green--dark;
  border-color: $green--dark;
  color: #fff;

  &:focus,
  &:hover {
    background-color: rgba(113, 178, 65, 0.2);
    color: $green--dark;
  }
}

%button--secondary {
  @include button();
  background-color: $blue--dark;
  border-color: #fff;
  color: #fff;

  &:focus,
  &:hover,
  &:active {
    background-color: $blue--light;
    color: #fff;
  }
}

%button--submit {
  @include button();
  background-color: $button-text-color;
  color: #fff;
}

%divider-line {
  content: "";
  display: inline-block;
  height: 2em;
  margin-bottom: -7px;
}
