<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    
    <!-- build:style bundle --><!-- /build -->

    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="/css/styles.css" media="all">
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/css/no-mq.css?" media="all">
    <![endif]-->

    <!-- build:script bundle --><!-- /build -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
	
    <title>Wildfire Hazards</title>
  </head>
  <body ng-app="wildfireHazards" ng-cloak>

    <div class="header">
      <div class="logo"></div>
      <div class="main-menu">
        <a ui-sref="about" class="md-title">
          About the Tool
        </a>
        <a ui-sref="detail" class="md-title">
          Explore the Data
        </a>
      </div>
      <div flex hide-sm hide-xs></div>
    </div>
    <div layout="column" layout-align="center" layout-margin class="info-container">
      <div flex class="strip"><h1 class="md-display-3">Know Your Risk</h1></div>
      <div flex class="strip"><h2 class="md-headline">WildLife Hazard Location Tool</h2></div>
  </div>

    <ui-view></ui-view>
  </body>
</html>
