mapbox-map {
  top:0; 
  bottom:0; 
  width:100%; 
  
  .mapboxgl-ctrl-attrib {
  	display: none;
  }
  
  &#homeMap {
    width: 100%;
    height : 300px;
    
    .mapboxgl-canvas-container {
      width: 100%;
      height: 300px;
    }
  }
  
  &#detailMap {
    height: 300px;
    
    .mapboxgl-canvas-container {
      height: 300px;
    }
  }
}